<div id="doc2" class="yui-t7">
   <!-- <style scoped>
        @import "http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css";
    </style>-->

	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Sylvester Willis</h1>
					<h2>Software/Web Developer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><span class="myEmail"><a href="mailto:sylvester.lee.willis@gmail.com">sylvester.lee.willis@gmail.com</a></span></h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
                            <ul class="talent">
                                <li class="last"><h3>Proficient:</h3></li>
                                <li>C#</li>
                                <li>SQL Server</li>
                                <li class="last">Team Foundation Server</li>
                            </ul>

							<ul class="talent">
                                <li class="last"><h3>Familiar:</h3></li>
								<li >Javascript/jQuery</li>
                                <li>Ruby</li>
                                <li>PHP</li>
                                <li class="last">Git</li>
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Aptean</h2>
								<h3>Associate Software Engineer</h3>
								<h4>May 2013 - Current</h4>
								<p>
                                    <ul>
                                        <li class="last">
                                            Worked with team of developers to help develop software for various applications 
                                            to increase customer retention by 15%.
                                        </li>
                                    </ul>
                                </p>
							</div>

							<div class="job">
								<h2>Georgia State Department of Computer Science</h2>
								<h3>Student Assistant</h3>
								<h4>Jan 2013 – May 2013</h4>
								<p>
                                    <ul>
                                        <li class="last">
                                            Added features to Technical Committee on Parallel Processing curriculum 
                                            website using PHP/MySQL to provide a source of curriculum information 
                                            for those interested in Computer Science academia.
                                        </li>
                                        <ul>
                                            <li class="last">
                                                Created a search feature to facilitate researching of various courses.
                                            </li>
                                            <li class="last">
                                                Developed script to generate lists for the administrators to use when 
                                                creating forms for the site.
                                            </li>
                                        </ul>
                                    </ul>
                                </p>
							</div>

							<div class="job last">
								<h2>Echostar</h2>
								<h3>Engineering Intern</h3>
								<h4>May  2012 – December 2012</h4>
								<p>
                                    <ul>
                                        <li class="last">
                                            Added features to webERP open source application using PHP, MySQL, and 
                                            Javascript to fit company needs and increase accuracy of reports generated.
                                        </li>

                                        <ul>
                                            <li class="last">
                                                Refactored and added generation of Excel spreadsheets and PDF documents 
                                                through website.
                                            </li>
                                            <li class="last">
                                                Added daily backups of database on server.
                                            </li>
                                        </ul>
                                    </ul>
                                </p>
							</div>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>Georgia State University - Atlanta, Georgia</h2>
							<h3>Bachelors in Computer Science</h3>
                            <h3>Graduation Date - May 2013</h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Sylvester Willis &mdash; <span class="myEmail"><a href="mailto:sylvester.lee.willis@gmail.com">sylvester.lee.willis@gmail.com</a></span></p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->
