<% @posts.each do |post|%>
    <h2 class="postTitle"><%= link_to post.title, post_path(post) %></h2>
    <p><%= post.text %></p>
    <%= link_to 'Edit', edit_post_path(post) %><br />
    <% if post != @posts.last%>
        <hr />
    <% end %>
<% end %>
